[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
uvicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8.10"

[packages.pydantic]
extras = [ "email",]
